<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8ca3bfef7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/ask.css">
    <title>user</title>
</head>

<body>
    <nav>
        <div class="nav-left-portion">
            <!-- <img src={menu} alt="" className="icons" /> -->
            <a href="/" class="nav-links">Tech Community</a>
        </div>
        <div class="nav-right-portion">
            <a href="/trending" class="nav-links">Trending</a>
            <a href="/ask" class="nav-links">Ask</a>
            <a href="/profile" class="nav-links">My Profile</a>
        </div>
    </nav>

    <div class="ask-your-query">
        <h1>Ask you query</h1>
        <form action="/submitted" method="post" class="ask-query-container">
            <input type="text" name="authorName" id="authorName" hidden>
            <input type="text" name="title" id="title" placeholder="Title..." required>
            <textarea name="content" id="content" placeholder="Query..." required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="ask-imgs">
        <img src="images/ask1.svg" alt="">
        <div class="ask-content">Ask Your queries <br>Let Community react for it</div>
        <img src="images/ask2.svg" alt="">
    </div>


    <script src="scripts/ask.js"></script>
</body>

</html>