<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/index.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-left-portion">
            <!-- <img src={menu} alt="" className="icons" /> -->
            <a href="/" class="nav-links brand">Tech Community</a>
        </div>
        <div class="nav-right-portion">
            <a href="/trending" class="nav-links">Trending</a>
            <a href="" class="nav-links">Create</a>
            <a href="/profile" class="nav-links">My Profile</a>
        </div>
    </nav>

    <div class="banner">
        <img src="images/tech_community.svg" alt="">
        <div class="banner-text-section">
            <div class="banner-slogan">
                Skip the Scroll, Join the Code
            </div>
            <div class="banner-text">
                "Why waste time on social media when you can build, innovate, and connect with like-minded tech
                enthusiasts? Join our
                community, where coding meets collaboration, and ideas turn into reality!"
            </div>
        </div>
    </div>

    <div class="banner2">
        <div class="left-banner">
            <img class="banner2-img" src="images/discussion.svg" alt="">
            <div class="banner-label">
                Don’t just scroll, discuss and build! Join our tech community where every conversation sparks innovation
                and
                collaboration drives success.
            </div>
        </div>

        <div class="right-banner">
            <img class="banner2-img" src="images/connect.svg" alt="">
            <div class="banner-label">
                Where innovation meets connection—join our community and collaborate with tech enthusiasts who are as
                passionate as you!
            </div>
        </div>
    </div>


    <section>

    </section>

    <!-- <form action="/blogs" method="post">
        <input type="text" name="title" id="title">
        <button type="submit">submit</button>
    </form> -->

    <script src="scripts/index.js"></script>
</body>

</html>