<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8ca3bfef7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/user.css">
    <title>user</title>
</head>

<body>
    <nav>
        <div class="nav-left-portion">
            <!-- <img src={menu} alt="" className="icons" /> -->
            <a href="/" class="nav-links brand">Tech Community</a>
        </div>
        <div class="nav-right-portion">
            <a href="/trending" class="nav-links">Trending</a>
            <a href="/ask" class="nav-links">Ask</a>
            <a href="/profile" class="nav-links active">My Profile</a>
        </div>
    </nav>

    <div class="demo" hidden><%= username %></div>


    <div class="user-info-container">

    </div>



    <script src="scripts/user.js"></script>
</body>

</html>