.ask-imgs {
    display: flex;
    align-items: end;
    justify-content: space-around;
    background-color: #dee6fb;
    padding: 7px;
    margin-top: 20px;
}

.ask-imgs img {
    height: 350px;
    animation: shake infinite 0.5s;
}

.ask-content {
    align-self: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #1b1f50;
    color: #dee6fb;
    padding: 15px 20px;
    border-radius: 100px;
    line-height: 1.5;
    text-align: center;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}