.dp img {
    height: 200px;
    border-radius: 10px;
}

.profile-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    width: 100%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

input {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: 1px solid #496ee8;
    color: #1b1f50;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
}

.gender{
    display: flex;
    column-gap: 20px;
    accent-color: #496ee8;
    font-weight: 500;
}

.profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.profile-section{
    background-color: #c4d4f9;
    padding: 20px;
    height: 100%;
    width: 900px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

#bio{
    width: 500px;
    height: 350px;
    resize: none;
    border-radius: 7px;
}


.save-profile{
    background-color: #1b1f50;
    color: #c4d4f9;
    border: none;
    padding: 5px 40px;
    /* http: //192.168.31.95:9000/ */
    font-weight: bold;
    cursor: pointer;
}

::placeholder {
    color: #263082;
    opacity: .6;
    /* Firefox */
}

.recent-container1{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
    justify-content: start;
    flex-wrap: wrap;
}

.recent-query{
    width: 760px;
}

.your-queries{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #3b56de;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    display: inline-block;
}

hr{
    margin-top: 40px;
    color: #3b56de;
}

.recent-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.recent-container1 h1{
    font-size: 25px;
    color: #1b1f50;
}

.recent-container1 img{
    height: 400px;
    /* display: block;
    margin: 0 auto; */
}