.user-info-section{
    display: flex;
    align-items: center;
    column-gap: 300px;
    margin-top: 150px;
    margin-left: 300px;
    font-weight: 500;
    line-height: 2;
    margin-right: 100px;
}

.profile-pic img{
    height: 500px;
    border-radius: 10px;
}

.user-info-container{
    display: flex;
    justify-content: center;
}


span{
    color: #3b56de;
}

a{
    color: #3b56de;
}

.user-info{
    border: 5px dashed #1b1f50;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    max-width: 700px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}